@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  font-family: 'Proxima Nova Rg';
  overflow-x: hidden;
  margin-left: -2px;
}
a:hover {
  text-decoration: none;
}
p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
img {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
.section-double {
  background-image: url(../img/images/section-double-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.section-double .section-header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 39px 30px 27px;
}
.section-double .section-header .active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.section-double .section-header-hiden {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 100%;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: absolute;
  width: 300px;
  background-color: #0d0e0d;
  display: none;
  text-align: center;
}
.section-double .section-header-hiden-list {
  display: inline-block;
  text-align: center;
}
.section-double .section-header-hiden-list-li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 15px;
  margin: 20px auto;
  color: #a6a6a6;
  text-transform: uppercase;
  cursor: pointer;
}
.section-double .section-header-hiden-list-li::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: '';
  width: 50%;
  height: 4px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.section-double .section-header-hiden-list-li:hover::before {
  content: '';
  width: 50%;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.section-double .section-header-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-double .section-header-left-Rmenu {
  cursor: pointer;
  display: none;
  font-size: 30px;
  color: #bea67c;
}
.section-double .section-header-left-menu {
  display: inline-block;
  font-size: 30px;
  color: #bea67c;
}
.section-double .section-header-left-txt {
  line-height: 12px;
  margin-left: 11px;
  font-weight: bold;
  font-size: 15px;
  color: #a6a6a6;
  text-transform: uppercase;
}
.section-double .section-header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-double .section-header-center-logo {
  position: relative;
  line-height: 28px;
  font-weight: bold;
  font-size: 36px;
  color: white;
}
.section-double .section-header-center-logo::before {
  content: '';
  width: 41px;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  left: 30px;
  top: 15px;
}
.section-double .section-header-center-list {
  display: inline-block;
  text-align: center;
}
.section-double .section-header-center-list-li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  color: #a6a6a6;
  text-transform: uppercase;
  margin-left: 100px;
  cursor: pointer;
}
.section-double .section-header-center-list-li::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: '';
  width: 50%;
  height: 4px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.section-double .section-header-center-list-li:hover::before {
  content: '';
  width: 50%;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.section-double .section-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-double .section-header-right-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  width: 23px;
  height: 23px;
  font-size: 20px;
  color: white;
}
.section-double .section-header-right-txt {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: relative;
  font-weight: bold;
  font-size: 15px;
  color: #a6a6a6;
  text-transform: uppercase;
}
.section-double .section-header-right-txt::after {
  cursor: pointer;
  margin-left: 5px;
  position: absolute;
  top: 7px;
  content: '';
  display: inline-block;
  border: 6px solid transparent;
  border-top: 6px solid #bea67c;
}
.section-double .section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 200px;
  padding: 0 20px;
}
.section-double .section-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: start;
  width: 62%;
}
.section-double .section-main-container-share {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-230%);
          transform: translateY(-230%);
  font-size: 30px;
  color: #bea67c;
  right: 1%;
}
.section-double .section-main-container-left {
  overflow: hidden;
  width: 40px;
  display: inline-block;
  text-align: center;
}
.section-double .section-main-container-left-txt {
  height: 140px;
  line-height: 40px;
  font-weight: bold;
  font-size: 53px;
  color: #bea67c;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
.section-double .section-main-container-left-txt::before {
  margin-bottom: 18px;
  content: '';
  display: inline-block;
  width: 4px;
  height: 51px;
  background-color: #bea67c;
}
.section-double .section-main-container-left .textSwipe {
  -webkit-animation-name: tSwipe;
          animation-name: tSwipe;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes tSwipe {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes tSwipe {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.section-double .section-main-container-left-circle {
  cursor: pointer;
  display: block;
  margin: 40px auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #303030;
}
.section-double .section-main-container-left .acCircle {
  background-color: #bea67c;
}
.section-double .section-main-container-left .Fcircle {
  margin-top: 80px;
}
.section-double .section-main-container-center {
  display: inline-block;
}
.section-double .section-main-container-center-header {
  font-size: 100px;
  font-weight: bold;
  color: #bea67c;
  line-height: 77px;
}
.section-double .section-main-container-center-button {
  margin-top: 60px;
  padding: 22px 84px;
  line-height: 10px;
  display: block;
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  -webkit-transition: border, color 0.5s;
  transition: border, color 0.5s;
}
.section-double .section-main-container-center-button:hover {
  color: #bea67c;
  border: 2px solid #bea67c;
}
.section-double .section-main-container-center-one {
  margin-top: 70px;
  display: inline-block;
  width: 30px;
  text-align: center;
}
.section-double .section-main-container-center-one-mouse {
  color: white;
  opacity: 0.5;
  font-size: 30px;
}
.section-double .section-main-container-center-one-txt {
  margin-top: 25px;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
  color: #3b3a3a;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
}
.section-double .section-main-container-right {
  width: 15px;
}
.section-double .section-main-container-right-txt {
  line-height: 15px;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
  height: 270px;
  color: #3e3628;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
}
.section-double .section-main-container-right-line {
  margin-top: 400px;
  display: block;
  width: 4px;
  height: 51px;
  background-color: #bea67c;
}
.section-2 {
  padding: 0 20px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-2-container {
  width: 64%;
}
.section-2-container-one {
  margin: 200px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 430px;
}
.section-2-container-one-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  position: relative;
}
.section-2-container-one-left-number {
  top: 100%;
  left: 0;
  position: absolute;
  font-weight: bold;
  color: black;
  letter-spacing: 4px;
  font-size: 36px;
}
.section-2-container-one-left-number-span {
  color: #bea67c;
}
.section-2-container-one-left .Snumber {
  left: auto;
  right: 0;
}
.section-2-container-one-left-desc {
  padding-right: 20px;
  width: 350px;
  height: 200px;
}
.section-2-container-one-left-desc-header {
  position: relative;
  line-height: 36px;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: 48px;
  color: #010101;
  text-transform: uppercase;
}
.section-2-container-one-left-desc-header::before {
  content: '';
  width: 151px;
  height: 1px;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: -60%;
}
.section-2-container-one-left-desc .Sheader::before {
  left: auto;
  right: -100%;
}
.section-2-container-one-left-desc-txt {
  position: relative;
  margin-top: 30px;
  font-size: 17px;
  color: #464646;
  line-height: 25px;
}
.section-2-container-one-left-desc-txt::before {
  content: '';
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -27%;
}
.section-2-container-one-left-desc .Stxt::before {
  left: auto;
  right: -28%;
}
.section-2-container-one-left-desc-button {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 0;
  padding-bottom: 10px;
  position: relative;
  letter-spacing: 4px;
  margin-top: 30px;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
}
.section-2-container-one-left-desc-button-arrow {
  margin-left: 9px;
}
.section-2-container-one-left-desc-button:hover {
  color: #bea67c;
}
.section-2-container-one-left-desc-button::before {
  content: '';
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  width: 44px;
  height: 2px;
  background-color: #bea67c;
}
.section-2-container-one-left-desc-button:hover::before {
  width: 100%;
}
.section-2-container-one-left .Sdesc {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  text-align: right;
}
.section-2-container-one-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.section-2-container-one-right-img {
  height: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  width: 100%;
}
.section-2-container-one-right-box {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-image: url(../img/images/section-2-img1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-2-container-one-right .Sbox {
  background-image: url(../img/images/section-2-img2.png);
}
.section-2-container-one::after {
  content: '';
  width: 4px;
  height: 51px;
  background-color: #bea67c;
  position: absolute;
  top: 125%;
  left: 0;
}
.section-2-container .Sone {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.section-2-container .Sone::after {
  left: auto;
  right: 0;
}
.section-3 {
  width: 100%;
  padding: 20px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.section-3-container {
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-3-container-header {
  line-height: 38px;
  font-weight: bold;
  font-size: 48px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.section-3-container-header::after {
  content: '';
  display: block;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  margin: 32px auto 0 auto;
}
.section-3-container-txt {
  margin-top: 20px;
  text-align: center;
  width: 580px;
  color: #636262;
  font-size: 15px;
}
.section-3-container-vids {
  cursor: pointer;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.section-3-container-vids-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
  text-align: center;
  width: 280px;
}
.section-3-container-vids-one-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  position: relative;
}
.section-3-container-vids-one-circle-img {
  width: 245px;
  height: 245px;
  border-radius: 50%;
}
.section-3-container-vids-one-circle-button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bea67c;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.section-3-container-vids-one-circle-button i {
  margin-left: 2px;
  font-size: 25px;
  color: white;
}
.section-3-container-vids-one-circle-button:hover {
  width: 72px;
  height: 72px;
}
.section-3-container-vids-one-txt {
  margin-top: 45px;
  line-height: 18px;
  font-size: 16px;
  color: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.section-3-container-vids-one-txt:hover {
  color: #bea67c;
}
.section-3-container-vids-one-txt::before {
  content: '';
  width: 25px;
  height: 1px;
  background-color: #bea67c;
  display: block;
  margin: 0 auto 18px auto;
}
.section-3-container-vids .slick-active {
  outline: none;
}
.section-3-container-vids .slick-slide {
  outline: none;
}
.section-3-container-vids .slick-dots {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -40px;
}
.section-3-container-vids .slick-dots li.slick-active button:before {
  color: #bea67c;
}
.section-3-container-vids .slick-dots li button:before {
  color: #bea67c;
}
.section-3-container-vids .slick-dots li button::before {
  font-size: 15px;
}
.section-4 {
  background-image: url(../img/images/section-4-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 20px;
}
.section-4-container {
  border: 1px solid #bea67c;
  width: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 200px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section-4-container-desc {
  width: 100%;
  max-width: 560px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-4-container-desc-header {
  position: relative;
  width: 100%;
  font-weight: bold;
  font-size: 48px;
  color: #bea67c;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.section-4-container-desc-header::before {
  top: 25%;
  left: -30%;
  content: '';
  position: absolute;
  width: 130px;
  height: 1px;
  background-color: #fff;
}
.section-4-container-desc-txt {
  color: white;
  font-size: 15px;
  width: 410px;
  margin-top: 50px;
  position: relative;
}
.section-4-container-desc-txt::before {
  content: '';
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  top: 10%;
  left: -21%;
}
.section-4-container-desc-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-top: 40px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  line-height: 11px;
  width: 240px;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  padding-top: 3px;
}
.section-4-container-desc-button-play {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: white;
  font-size: 30px;
  margin-right: 14px;
}
.section-4-container-desc-button:hover {
  color: #bea67c;
  border: 2px solid #bea67c;
}
.section-4-container-desc-button:hover .section-4-container-desc-button-play {
  color: #bea67c;
}
.section-4-container-line {
  width: 1px;
  height: 150px;
  background-color: #fff;
  position: absolute;
  right: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section-5 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 120px 20px;
}
.section-5-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-5-container-left {
  width: 50%;
  display: inline-block;
}
.section-5-container-left-img {
  -webkit-box-shadow: 0 0 20px #ececec;
          box-shadow: 0 0 20px #ececec;
  width: 100%;
}
.section-5-container-right {
  margin-top: 50px;
  width: 50%;
  display: inline-block;
}
.section-5-container-right-header {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  color: #010101;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 38px;
  margin-left: 70px;
}
.section-5-container-right-header::before {
  content: '';
  width: 150px;
  height: 1px;
  background-color: black;
  position: absolute;
  left: -60%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section-5-container-right-txt {
  position: relative;
  margin-left: 70px;
  width: 341px;
  font-size: 18px;
  color: #464646;
  margin-top: 30px;
}
.section-5-container-right-txt::before {
  content: '';
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  left: -17%;
  top: 15%;
}
.section-5-container-right-button {
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-left: 70px;
  background-color: transparent;
  border: 0;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 0;
  padding-bottom: 10px;
  margin-top: 30px;
}
.section-5-container-right-button-img {
  margin-left: 7px;
}
.section-5-container-right-button:hover {
  color: #bea67c;
}
.section-5-container-right-button::before {
  content: '';
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  width: 44px;
  height: 2px;
  background-color: #bea67c;
}
.section-5-container-right-button:hover::before {
  width: 100%;
}
.section-6 {
  background-image: url(../img/images/section-6-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 0 20px;
}
.section-6-txt1 {
  width: 250px;
  font-size: 15px;
  color: #464646;
  text-transform: uppercase;
}
.section-6-logo {
  margin: 0 15%;
  width: 250px;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 9px;
}
.section-6-logo::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 70px;
  width: 53px;
  height: 4px;
  background-color: #bea67c;
}
.section-6-txt2 {
  font-size: 15px;
  color: #7d7d7d;
  width: 250px;
}
@media (max-width: 1198px) {
  .section-double .section-main-container-right-txt {
    height: auto;
  }
  .section-2-container-one {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-2-container-one-left {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    margin-bottom: 150px;
  }
  .section-2-container-one-left-number {
    top: 150%;
  }
  .section-2-container-one-left-desc {
    padding: 0;
  }
  .section-2-container-one-left .Sdesc {
    padding: 0;
  }
  .section-2-container-one .Sleft {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .section-2-container-one-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 390px;
    background-image: url(../img/images/section-2-img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }
  .section-2-container-one-right-img {
    display: none;
  }
  .section-2-container-one .secondImg {
    background-image: url(../img/images/section-2-img2.png);
  }
  .section-2-container-one::after {
    top: 100%;
  }
  .section-2-container .Sone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-3-container-vids-one {
    margin: 0 25px;
  }
  .section-4-container-desc-header::before {
    left: -16.5%;
    width: 70px;
  }
  .section-4-container-desc-txt::before {
    left: -16%;
  }
  .section-5-container {
    width: 90%;
  }
  .section-6-logo {
    margin: 0 10%;
  }
}
@media (max-width: 991px) {
  .section-double {
    background-image: url(../img/images/section-double-bg-mini.png);
  }
  .section-double .section-header-hiden {
    display: inline-block;
  }
  .section-double .section-header-left-Rmenu {
    display: inline-block;
  }
  .section-double .section-header-left-menu {
    display: none;
  }
  .section-double .section-header-center-list {
    display: none;
  }
  .section-double .section-main {
    margin-top: 150px;
    padding: 50px;
  }
  .section-double .section-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-double .section-main-container-share {
    right: 5%;
  }
  .section-double .section-main-container-left {
    margin-bottom: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .section-double .section-main-container-left-txt {
    width: 140px;
    position: relative;
    height: auto;
    line-height: 44px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  .section-double .section-main-container-left-txt::before {
    width: 51px;
    height: 4px;
    background-color: #bea67c;
    margin-right: 18px;
    margin-bottom: 15px;
  }
  .section-double .section-main-container-left-circle {
    margin: 0;
    display: inline-block;
  }
  .section-double .section-main-container-left .Fcircle {
    margin: 0;
  }
  .section-double .section-main-container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    width: auto;
  }
  .section-double .section-main-container-right-txt {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  .section-double .section-main-container-right-line {
    margin-left: 18px;
    width: 51px;
    height: 4px;
    display: inline-block;
    margin-top: 0;
  }
  .section-2-container-one-right {
    height: 300px;
  }
  .section-3-container-vids {
    max-height: 370px;
  }
  .section-3-container-vids-one {
    margin: 0;
  }
  .section-3-container-vids-one-circle {
    margin: 0 auto;
  }
  .section-4-container-desc-header::before {
    top: 110%;
    left: 0;
  }
  .section-4-container-desc-txt::before {
    top: 110%;
    left: 0;
  }
  .section-4-container-line {
    width: 150px;
    height: 1px;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section-5-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-5-container-left {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-5-container-left-img {
    width: 520px;
  }
  .section-5-container-right {
    width: 90%;
    text-align: center;
  }
  .section-5-container-right-header {
    margin-left: 0;
  }
  .section-5-container-right-header::before {
    top: 150%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section-5-container-right-txt {
    margin-top: 40px;
    margin-left: 0;
  }
  .section-5-container-right-txt::before {
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section-5-container-right-button {
    margin-top: 50px;
    margin-left: 0;
  }
  .section-6 {
    padding: 50px 0;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-6-logo {
    width: auto;
    margin: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .section-6-logo::before {
    left: 36px;
  }
  .section-6-txt1 {
    width: auto;
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section-6-txt2 {
    width: auto;
    margin: 0;
    margin: 20px 0;
  }
}
@media (max-width: 767px) {
  .section-2-container-one-left-desc-header::before {
    left: -35%;
    width: 80px;
  }
  .section-2-container-one-left-desc .Sheader::before {
    right: -66%;
  }
  .section-2-container-one-left-desc-txt::before {
    left: -22%;
  }
  .section-3-container-header {
    width: 100%;
    line-height: 45px;
    font-size: 40px;
  }
  .section-3-container-txt {
    width: 90%;
  }
  .section-4-container {
    padding: 100px 10px;
  }
  .section-4-container-desc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section-4-container-desc-header {
    font-size: 28px;
  }
  .section-4-container-desc-header::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section-4-container-desc-txt {
    width: 100%;
  }
  .section-4-container-desc-txt::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section-4-container-desc a {
    width: 100%;
  }
  .section-4-container-desc-button {
    width: 100%;
  }
  .section-5-container-left {
    width: 100%;
  }
  .section-5-container-left-img {
    width: 460px;
  }
}
@media (max-width: 575px) {
  .section-double .section-header {
    padding-bottom: 0;
    height: 200px;
  }
  .section-double .section-header-hiden {
    top: 75%;
  }
  .section-double .section-header-center {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    top: 30px;
    position: absolute;
  }
  .section-double .section-main {
    margin-top: 100px;
  }
  .section-double .section-main-container {
    width: 100%;
  }
  .section-double .section-main-container-share {
    -webkit-transform: none;
            transform: none;
    top: 86%;
  }
  .section-double .section-main-container-left {
    margin-bottom: 25px;
  }
  .section-double .section-main-container-left-txt {
    width: 130px;
    font-size: 45px;
  }
  .section-double .section-main-container-left-txt::before {
    margin-right: 9px;
    margin-bottom: 13px;
  }
  .section-double .section-main-container-center-header {
    font-size: 57px;
  }
  .section-double .section-main-container-center-button {
    margin-top: 30px;
    padding: 11px 22px;
  }
  .section-double .section-main-container-center-one {
    margin-top: 50px;
  }
  .section-double .section-main-container-right-txt {
    line-height: 25px;
  }
  .section-2-container-one-left-desc-header::before {
    left: 0;
    top: 150%;
  }
  .section-2-container-one-left-desc .Sheader::before {
    right: 0;
    top: 150%;
  }
  .section-2-container-one-left-desc-txt::before {
    left: 0;
    top: 100%;
  }
  .section-2-container-one-left-desc .Stxt::before {
    right: 0;
    top: 100%;
  }
  .section-2-container {
    width: 100%;
  }
  .section-2-container-one-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-2-container-one-left-desc {
    width: 100%;
  }
  .section-2-container-one-left-desc-header {
    font-size: 42px;
  }
  .section-5-container {
    width: 100%;
  }
  .section-5-container-left {
    -webkit-box-shadow: 0 0 20px #ececec;
            box-shadow: 0 0 20px #ececec;
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../img/images/section-5-img.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
  }
  .section-5-container-left-img {
    display: none;
  }
  .section-5-container-right-header {
    font-size: 40px;
  }
  .section-5-container-right-txt {
    font-size: 16px;
    width: 90%;
  }
  .section-5-container-right-button {
    font-size: 14px;
  }
}
